@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");
@import "./styles/base";

body {
  margin: 0;
  padding: 0;
}

body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
